{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="gp-heading">
        <div class="gp-heading-headline">
            {% if particle.head %}<h1>{{ particle.head }}</h1>{% endif %}
            {% if particle.sub %}<h4>{{ particle.sub }}</h4>{% endif %}
        </div>
        <div class="g-grid gp-heading-grid">
            <div class="g-block gp-heading-block gp-heading-block-img size-50">
                {% if particle.img %}<img src="{{ url(particle.img) }}" alt="{{ particle.head }}">{% endif %}
            </div>
            <div class="g-block gp-heading-block gp-heading-block-text size-50">
                {% for item in particle.items %}
                    <div class="gp-heading-item">
                        {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
                        <p>{{ item.title }}</p>
                    </div>
                {% endfor %}
                <div class="gp-button-wrap"><a href="{{ particle.url }}" class="{{ particle.bcss }}">{{ particle.btn }}</a></div>
            </div>
        </div>
    </div>
{% endblock %}