{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

	<div class="g-title-particle">
        <{{ particle.h }} class="g-title">
            {% if function('is_category' ) %}
                {{ function('single_cat_title') }}
            {% elseif function('is_single' ) or function('is_page') %}
                {{ function('the_title') }}
            {% elseif function('is_post_type_archive') %}
                {{ function('post_type_archive_title') }}
            {% elseif function('is_tag') %}
                {{ function('single_tag_title') }}
            {% elseif function('is_author') %}
                {{ function('get_the_author') }}
            {% elseif function('is_home') %}
                Blog
            {% endif %}
        </{{ particle.h }}>
	</div>

{% endblock %}
