{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="gp-list">
        {% if particle.headline %}<h4>{{ particle.headline|raw }}</h4>{% endif %}
        
        <ul>
            {% for item in particle.items %}
                <li>
                    {% if item.link %}<i class="{{ particle.icon }}"></i><a href="{{ item.link }}" target="{{ item.target }}">{{ item.text }}</a>
                    {% elseif item.text %}<i class="{{ particle.icon }}"></i>{{ item.text }}{% endif %}
                </li>
            {% endfor %}
        </ul>
        
    </div>
{% endblock %}