{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	<div class="gp-step">
	    <div class="gp-step-header">
	        {% if particle.headline %}<h1>{{ particle.headline|raw }}</h1>{% endif %}
	        {% if particle.subtitle %}<p>{{ particle.subtitle|raw }}</p>{% endif %}
	    </div>
	    
	    {% if particle.tab1 %} {tab {{ particle.tab1 }} } {% endif %}
	    <div class="g-grid gp-step-tab-1">
	        {% for item in particle.items %}
	            <div class="g-block gp-step-item">
	                <div class="g-content">
	                    {% if item.count %}<span class="gp-step-count">{{ item.count }}</span>{% endif %}
	                    {% if item.headline %}<h3>{{ item.headline }}</h3>{% endif %}
	                    {% if item.description %}<div class="gp-step-item-description">{{ item.description }}</div>{% endif %}
	                </div>
	            </div>
	        {% endfor %}
	    </div>

	    {% if particle.tab2 %} {tab {{ particle.tab2 }} } {% endif %}
	    <div class="g-grid gp-step-tab-2">
	        {% for sample in particle.samples %}
	            <div class="g-block gp-step-item">
	                <div class="g-content">
	                    {% if sample.count %}<span class="gp-step-count">{{ sample.count }}</span>{% endif %}
	                    {% if sample.headline %}<h3>{{ sample.headline }}</h3>{% endif %}
	                    {% if sample.description %}<div class="gp-step2-item-description">{{ sample.description }}</div>{% endif %}
	                </div>
	            </div>
	        {% endfor %}
	    </div>
	   {% if particle.tab1 or particle.tab2 %} {/tabs} {% endif %}
	</div>
{% endblock %}