{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="gp-team">
    	{% if particle.image %}<img src="{{ url(particle.image) }}" alt="{{ particle.name }}">{% endif %}
    	{% if particle.name %}<h3 class="gp-team-name">{{ particle.name }}</h3>{% endif %}
    	{% if particle.desc %}<p class="gp-team-desc">{{ particle.desc }}</p>{% endif %}
    	{% if particle.items %}<div class="gp-team-social">
    		{% for item in particle.items %}
    		    <a href="{{ item.url }}" target="{{ item.target }}">
    		    	{% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
    		    	{% if item.text %}<span>{{ item.text }}</span>{% endif %}
    		    </a>
    		{% endfor %}
    	</div>{% endif %}
    </div>
{% endblock %}