{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <section class="gp-tabs {{ particle.st }}">
        <nav role="navigation">
            <ul>
                {% if particle.tabs %}{% for item in particle.tabs %}
                    <li>
                        <a href="#tab-{{ loop.index }}">
                            {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
                            <span>{{ item.title }}</span>
                        </a>
                    </li>
                {% endfor %}{% endif %}
            </ul>
        </nav>
        <div class="content">
            {% if particle.tabs %}{% for item in particle.tabs %}
                <section id="#tab-{{ loop.index }}">
                    {% if item.desc %}<p>{{ item.desc|raw }}</p>{% endif %}
                </section>
            {% endfor %}{% endif %}
        </div>
    </section>
{% endblock %}

{% block javascript_footer %}
    <script src="{{ url('gantry-theme://js/tabs.js') }}"></script>
{% endblock %}
